body{

    background-color: #D1DFDF;
  
  }

   .backToProfile-btn{

     color:black;
     font-size:14px;
     height: 35px;
     width: 140px;
     box-sizing: border-box;
     box-shadow: 1px 2px grey;
     border-radius: 20px;
     border-width: 0px;
     background-color: #87a8ee;
     padding: 5px;
     font-weight: bold;
     position: absolute;
     top:89%;
     left:2%;

   }

  .backToProfile-btn:hover{

    background-color: #5b4adb;

  }

  .backToProfile-btn:active{

    background-color: #ff0000;

  }


  .edit-btn{

    position: absolute;
    top:89.4%;
    left:87.3%;
    height: 37px;
    width:88px;
    border-radius: 20px;
    background-color: #87a8ee;
    cursor: pointer;
    font-weight: 700;
    font-size: 17px;
    border-width: 0px;
    letter-spacing: 1.5px;
}

.edit-btn:hover{

    background-color: #5b4adb;

}


  
  form{
   
  
      margin-left:200px;
      position: relative;
  
  }
  
  input{
  
     pointer-events: none;
     height: 25px;
     width: 300px;
     margin-left: 35px; 
     margin-top: 26px;
     margin-bottom: 26px;
     border-width: 1.15px;
     border-color: black;
     border-radius: 5px;
  
  }
  
  /* input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: none;
    } */
  
  
  
  .radioM, .radioF, .radioO{
  
      height: 15px;
      width: 15px;
      margin-left: 60px;
  
  
  }
  
  .testDiv{
  
    font-weight: bold;
    
  }
  
  .radioOption{
  
    position: absolute;
     top:52%;
     left:3%;    
  
  }
  
  .mobileField:-webkit-inner-spin-button {
  
  
      -webkit-appearance: none;
  
  }
  .ageField, .pinField, .mobileField{
  
    font-weight: bold;
  
  }
  
  /* .ageField{
  
      font-weight: bold;
      width: 150px;
      height: 25px;
      
  }
  
  .pinField{
  
      font-weight: bold;
      width: 150px;
      height: 25px;
  
  } */
  
  input[name=pinCode], input[name=age]{

    height: 25px;
    width: 150px;
    
  }
  
  input[name=mobile],input[name=city]{
  
   height: 25px;
   width:190px;
  
  }
  
  
  input[name=mobile]::-webkit-inner-spin-button{
  
         -webkit-appearance: none;
  
  }
  
  /* input[type=submit]{
  
  position: absolute;
  top:86%;
  left:85%;
  height: 37px;
  width:88px;
  border-radius: 20px;
  background-color: #2863e2;
  cursor: pointer;
  font-weight: 700;
  font-size: 17px;
  display: none;
  } */

  .save-btn{

    position: absolute;
    top:86%;
    left:85%;
    height: 37px;
    width:88px;
    border-radius: 20px;
    background-color: #87a8ee;
    cursor: pointer;
    font-weight: 700;
    font-size: 17px;
    display: none;
    pointer-events: auto;
    letter-spacing: 1.5px;

  }
  .save-btn:hover{

    background-color: #5b4adb;

  }
  

  /* input[type=submit]:hover{
  
    background-color: #1d00fc;
  
  } */
  
  input:hover{
  
    border-color: #dc42f7;
    border-width: 1.15px;
  
  }
  
  .note{
  
  color: black;
  /* position: absolute;
  top: 5%;
  left: 65%; */
  position: absolute;
  top:1.5%;
  left:42.2%;
   font-weight: bolder;
  }
  
  .warning-para{
  
  color: black;
  
  }
  
  .Notice-Board{
  
    height: 80px;
    width: 370px;
    position: absolute;
    top: 5%;
    left:50%;
    background-color:#a6bced;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
  
    
  }
  
  span{
  color: red;
  font-weight: bolder;
  
  }
  
  input[type=file]{
  
    position: absolute;
    top:73.4%;
    left:47.7%;
    overflow: hidden;
    
    
  }
  
  .profile-name{
     
      font-weight: bold;
      position: absolute;
      top:75%;
      left:42%;
  
  }
  