

.side-col{
  
   display: block;
   background-color: #E2E2E2;
    height: 750px;
    width: 400px;
    margin-top: -7px;
    margin-left: -7px;
   
 
 }
 
  ul{
    display: block;
    text-decoration-style: none;
    text-align: center;
    position: absolute;
    top: 268px;
    left: -5.2%;
    
 }
 
 
 li{
 display: block;
 text-decoration-style: none;
 margin-top: 25px;
 margin-left: 100px;
 margin-right: 100px;
 padding-top: 15px;
 padding-bottom: 15px;
 padding-left: 100px;
 padding-right: 100px;
 list-style: none;
 cursor: pointer;
 border-radius: 7px;
 box-shadow: 1.5px 1px #303a4c;
 
 }
 
 /*.list{
        
     display: block;
       position: absolute;
       top: 268px;
       left: 120px;
 
 }*/
 
 
   li:hover{
 
    
    text-align: center;
    /*vertical-align: center;*/
    display: block;
    background-color: #efefef;
    
    
 
 }
 
 
 
 /* .name-col{
       
       font-size: 35px;
       font-family: Arial;
       font-weight: bold;
      position: absolute;
      top: 126px;
      left: 83px;
 } */
 
 /* .head-img{
    height: 127px;
    width: 127px;
    border-radius: 50%;
    position: absolute;
    top: 52px;
    left: 9.5%;
 
 } */
 
 .logout-btn{
    
     cursor: pointer;
    position: absolute;
    top: 90%;
    left: 19.5%;
    padding:10px 10px 10px 10px;
    border-radius: 7px;
    box-shadow: 1.5px 1px black;
 }
 
 .logout-btn:hover{
 
   background-color: white;
 
 
 }
 
 
 .info-field-1{
  
  position: absolute;
  top: 5%;
  left:40%;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  font-size: 15px;
 
 }
 
 .info-field-2{
  
     position: absolute;
     top: 20%;
     left:40%;
     /* padding-top: 50px;
  padding-bottom: 50px; */
  font-size: 15px;
     
    }
 
    .info-field-3{
  
     position: absolute;
     top: 35%;
     left:40%;
     /* padding-top: 50px;
     padding-bottom: 50px; */
     font-size: 15px;
    }
 
    .info-field-4{
  
     position: absolute;
     top: 50%;
     left:40%;
     /* padding-top: 50px;
     padding-bottom: 50px; */
     font-size: 15px;
 
     
    }
 
    .info-field-5{
  
     position: absolute;
     top: 65%;
     left:40%;
     /* padding-top: 50px;
     padding-bottom: 50px; */
     font-size: 15px;
     
    }
 
    .acc-details-btn{
     height:35px;
     width:700px;
     cursor: pointer;
     position: absolute;
     top:87%;
     left: 40.3%;
     background-color: #7974FF;
     border: 0px;
    border-radius: 25px;
    }
 
 
 
 
  
 