     
     .forgotPass{
      font-size: 18px;
      /*font-family: Arial;*/
      padding-left: 3px;
      padding-right: 3px;
      padding-top: 3px;
      padding-bottom: 3px;
      /*background-color: grey;*/
      border-radius: 4px; 
       position: absolute;
       top: 74%;
       margin-left: 60%;
      margin-right: 2px;
      text-decoration:none;
         
     }

     .forgotPass:hover, .newAcc:hover{
      
      color:red;

     } 

     .newAcc{
      font-size: 18px;
      position: absolute;
      top: 92%;
      margin-left: 53%;
      margin-right: 1px;
      text-decoration:none;

     }
      

    .main-head{
      font-family: Arial;
      color: black;
      position:absolute;
      top: 10%;
      text-shadow: 1px 2px black;
      font-weight: bolder;
      -webkit-text-stroke: 1px black;
	    -webkit-text-fill-color: red; 
  }

      .main-head:hover{

         position: absolute;
         text-shadow: 1.8px 2.5px white;
         cursor: default;

       }

      .signin-head{

      	margin-left: 32%;
      	margin-top: 10%;
      	-webkit-text-stroke: 1px black;
	-webkit-text-fill-color: #33ff33;
      }
    	
     form{

         margin-left: 18%;
         margin-top: 15%;
     }

     input{
     	 color: black;
     	 font-family: cursive;
         box-sizing: border-box;
         border-radius: 12px;
     	border: 1px solid black;
     	height:35px;
     	width:230px;
        padding-left: 8px;


     }

     input[type="password"]:focus{

     letter-spacing: 4px;

     }

     input:focus{

      border-radius: 7px;
   }

     input:hover{

        border: 1.5px solid #cc66ff;
      
     }

     body{
       
     	
     	background-image: url("main_banner2.jpg"); 
          background-repeat: no-repeat;
          background-size: 1570px 780px;
     	background-color:#b3ffb3;
     }



     .main-layout{
       

        border: 3px solid #d6d6c2;
       width: 350px;
         height: 350px;
       background-color: #ccfff3;
       box-shadow: 3px 6px #d6d6c2;
        border-radius: 15px;
       position: absolute;
      top: 27%;
       left: 37%;
        
     }

     .submit-btn{
         
         font-family: Arial;
         font-weight: bold;
         margin-left:27%;
         height:26px;
     	 width:75px;
     	 border-radius: 2px;
         box-shadow: 1.5px 2.4px black;
         cursor: pointer;
        }

       .submit-btn:hover{
         
        margin-left:27%;
         height:26px;
     	 width:75px;
     	 background-color: #00ff00; 
     	 border-color: black;
     	 border: 1px solid black;
     	 

       } 

       .submit-btn:focus{

        height:24px;
     	 width:73px;
     	 border-radius: 2px;
     	 box-shadow: 0px 0px black;
         
       }
